#App {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
}

#App.mouse {
  /*background-color: green;*/
}

#App.touch {
  /*background-color: orange;*/
}





.Splash {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 5vmin 8vmin;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  /*background-color: #2a2e2f;*/
  background-color: rgba(42, 46, 47, .9);
  transition: background-color 200ms ease-out;
  opacity: 1;
  z-index: 5000;
}

.Splash>h1 {
  color: rgba(255, 255, 255, .8);
  transition: color 200ms ease-out;
  font-size: 16vmin;
  /*font-size: calc(16vmin - 10px);*/
  white-space: nowrap;
  /*font-size: 10vh;*/
}

.Splash>h2 {
  font-size: 14vmin;
}


.Splash.ready {
  background-color: rgba(255, 255, 255, .7);
}


.Splash.ready>h1 {
  color: #2a2e2f;
}








.Grid--window {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  z-index: 200;
  overflow: auto;
  -ms-overflow-style: none;
  touch-action: manipulation;

  /*background-color: lightgreen;*/
  /*border: 3px solid green;*/
}

.Grid--window::-webkit-scrollbar {
  display: none;
}



.Grid--flex-wrap {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;

  /*background-color: pink;*/
  /*border: 3px solid red;*/
}

.Grid--flex-wrap::after {
  width: 100%;
  height: calc(12vh - 30px);
  min-height: 90px;
  content: "";
  opacity: 0;
}



.Grid--wrap {

  /*background-color: brown;*/
  /*border: 5px solid tan;*/
}



.Grid--canvas-wrap {
  position: relative;

  /*border: 10px yellow;*/
}


.Grid {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 0% 0%;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  z-index: 100;

  /*background-color: yellow;*/
  /*border: 1px solid brown;*/
}



.Grid--lines {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 200;
}

.Grid--lines path {
  stroke: rgba(0, 0, 0, .5);
}







#Anchor {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 150px;
  height: 150px;
  z-index: 3000;
  background-color: blue;
}




.Toolbar {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 12vh;
  min-height: 90px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  z-index: 200;
  pointer-events: none;
}


.Toolbar--toolbox {
  position: relative;
  height: 100%;
  min-height: 90px;
  width: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: rgba(26, 30, 31, .95);
  pointer-events: auto;
}

.Toolbar--toolbox.left {
  justify-content: flex-start;
  border-top-right-radius: calc(.4vh + 2px);
}

.Toolbar--toolbox.right {
  justify-content: flex-end;
  border-top-left-radius: calc(.4vh + 2px);
}





.Tool--wrap {
  position: relative;
  height: 100%;
  padding: 10px;
  pointer-events: none;
}

.Tool {
  width: 100%;
  height: 100%;
}

