* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none;
  width: 0;
  height: 0;
  background-color: transparent;
}



body {
  background-color: #2a2e2f;
  font-family: 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
  /*-webkit-overflow-scrolling: touch;*/
  overflow: hidden;
  touch-action: manipulation;
}



h1 {
  font-size: 16vmin;
}

h2 {
  font-size: 12vmin;
}

h3 {
  font-size: 8vmin;
}

h4 {
  font-size: 5vmin;
}

h5 {

}

h6 {

}





.btn {
  border-radius: 5%;
  pointer-events: auto;
  cursor: pointer;
  backface-visibility: hidden;
}

.btn--lg {
  width: calc(12vh - 20px);
  height: calc(12vh - 20px);
  min-width: 70px;
  min-height: 70px;
  box-shadow: 0 0 1.25vmin .25vmin rgba(0, 0, 0, .3);
}

.btn--sm {
  width: calc(6vh - 12.5px);
  height: calc(6vh - 12.5px);
  min-width: 32.5px;
  min-height: 32.5px;
}





#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 5px 10px 8px 10px;
  border-radius: 5px;
  box-shadow: 0 0 1.25vmin .25vmin rgba(0, 0, 0, .3);
  /*transform: translateY(-67px);*/
  transform: translate(15px, -82px);
  z-index: 101;
  pointer-events: none;
}

#tooltip>* {
  -webkit-text-stroke: .5px rgba(127, 127, 127, 1);
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-fill-color: #ddd;
  mix-blend-mode: difference;
  /*text-shadow: 0 0 .3vmin rgba(127, 127, 127, 1);*/
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
}

#tooltip>h5 {
  font-size: 24px;
  line-height: 30px;
}

#tooltip>h6 {
  font-size: 16px;
  line-height: 24px;
}
