* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none;
  width: 0;
  height: 0;
  background-color: transparent;
}



body {
  background-color: #2a2e2f;
  font-family: 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
  /*-webkit-overflow-scrolling: touch;*/
  overflow: hidden;
  touch-action: manipulation;
}





.btn {
  border-radius: 5%;
  pointer-events: auto;
  cursor: pointer;
}

.btn--lg {
  width: calc(12vh - 20px);
  height: calc(12vh - 20px);
  min-width: 70px;
  min-height: 70px;
  box-shadow: 0 0 1.25vmin .25vmin rgba(0, 0, 0, .3);
}

.btn--sm {
  width: calc(6vh - 12.5px);
  height: calc(6vh - 12.5px);
  min-width: 32.5px;
  min-height: 32.5px;
}





#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 5px 10px 8px 10px;
  border-radius: 5px;
  box-shadow: 0 0 1.25vmin .25vmin rgba(0, 0, 0, .3);
  transform: translateY(-60px);
  z-index: 101;
  pointer-events: none;
}

#tooltip>* {
  white-space: nowrap;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px rgba(127, 127, 127, .7);
  mix-blend-mode: difference;
}

#tooltip>h4 {
  font-size: 16px;
  line-height: 20px;
}

#tooltip>h5 {
  font-size: 12px;
  line-ight: 18px;
}
