* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}



body {
  background-color: #2a2e2f;
  overflow: hidden;
  font-family: 'helvetica';
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  /*-webkit-overflow-scrolling: touch;*/
}





div.tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 5px 10px 8px 10px;
  background: lightsteelblue;
  border: 0px;
  border-radius: 5px;
  pointer-events: none;
  transform: translateY(-60px);
  z-index: 500;
}


div.tooltip>h4 {
  font-size: 16px;
  line-height: 20px;
}

div.tooltip>h5 {
  font-size: 12px;
  line-ight: 18px;
}
