.Username {
  position: fixed;
  left: 0%;
  top: 35vh;
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  z-index: 500;
}


.Username>form {
  width: 60vmin;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(26, 30, 31, .95);
}


.Username>form>input {
  width: 60%;
  padding: .4vh;
  margin-bottom: 2vh;
  font-size: calc(1vh + 12px);
  user-select: auto;
}


.Username>form>button {
  font-size: calc(1vh + 9px);
  padding: 1vmin 1vmin;
  cursor: pointer;
  user-select: auto;
}


.Username>h1 {
  padding: 2%;
}
