.Grid--window {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  z-index: 100;
  overflow: auto;
  -ms-overflow-style: none;
  touch-action: manipulation;
}

.Grid--window::-webkit-scrollbar {
  display: none;
}



.Grid--flex-wrap {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.Grid--flex-wrap::after {
  width: 100%;
  height: calc(12vh - 30px);
  min-height: 90px;
  content: "";
  opacity: 0;
}



.Grid--flex {
  padding: 60px;
}



.Grid {
  position: relative;
}



.Grid--canvas {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 0% 0%;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  z-index: 110;
}



.Grid--lines {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 120;
}

.Grid--lines path {
  stroke: rgba(0, 0, 0, .8);
}
