.Grid__window {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  z-index: 100;
  overflow: auto;
  -ms-overflow-style: none;
  touch-action: manipulation;;
}

.Grid__window::-webkit-scrollbar {
  display: none;
}



.Grid__flex-wrap {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.Grid__flex-wrap::before,
.Grid__flex-wrap::after {
  width: 100%;
  height: 12vh;
  min-height: 90px;
  max-height: 110px;
  min-height: calc(90px + env(safe-area-inset-bottom));
  max-height: calc(110px + env(safe-area-inset-bottom));
  content: "";
  opacity: 0;
}



.Grid__flex {
  padding: 60px 150px;
}

.Grid__flex--touch {
  padding: 15px 30px;
}



.Grid__zoom {
  position: relative;
}



.Grid__canvas {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 0% 0%;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  z-index: 110;
}



.Grid__lines {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 120;
}



.Grid__line-group {
  stroke: rgba(0, 0, 0, .8);
}
