.Colors {

}





.Colors--current {

}





.Colors--palette {
  position: absolute;
  left: 0%;
  bottom: 100%;
  padding: 5px;
  overflow: visible;
  pointer-events: none;
}

.Colors--palette.touch {
  padding-left: 0px;
}



.Colors--palette-celbox {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 5px;
  border-radius: calc(.4vh + 2px);
  background-color: rgba(127, 127, 127, .5);
  opacity: 1;
  transform: translateX(0%);
  animation-name: bounce-in;
  animation-duration: 350ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  pointer-events: auto;
}

.Colors--palette-celbox.hide {
  opacity: 0;
  transform: translateX(-100%);
  animation-name: bounce-out;
  animation-duration: 350ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
}

.Colors--palette-celbox.notready {
  opacity: 0;
  transform: translateX(-100%);
  animation-iteration-count: 0;
}





@keyframes bounce-in {
  0%   { transform: translateX(-100%); }
  60%  { transform: translateX(-0%); }
  70%  { transform: translateX(-1%); }
  100% { transform: translateX(-0%); }
}

@keyframes bounce-out {
  0%   { transform: translateX(-0%); opacity: 1;}
  60%  { transform: translateX(-100%); opacity: .5 }
  70%  { transform: translateX(-99%);  opacity: .2;}
  100% { transform: translateX(-100%); opacity: 0;}
}





@media only screen and (max-height: 500px) {
  .Colors--palette-celbox {
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 1fr;
  }
}
