.Colors {
  position: fixed;
  left: 3vmin;
  bottom: 3vmin;
  width: 236px;
  height: 416px;
  transform: translateX(-146px);
  transition: transform 150ms ease;
  z-index: 200;
  pointer-events: none;
}

.Colors.active {
  transform: translateX(0);
}

.Colors.active>.ColorsPalette {
  opacity: 1;
}

.Colors.active>.Colors--current {
  opacity: 0;
  transition: opacity 50ms ease;
  pointer-events: none;
}





.ColorsPalette {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 146px;
  height: 416px;
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(3, 40px);
  grid-template-rows: repeat(9, 40px);
  grid-gap: 5px;
  border-radius: 5px;
  /*box-shadow: 0 0 10px 2px rgba(0, 0, 0, .3);*/
  background-color: rgba(127, 127, 127, .4);
  opacity: 0;
  transition: opacity 150ms ease;
  pointer-events: auto;
}


.ColorsPalette--cel {
  border-radius: 2px;
  user-select: auto;
  cursor: pointer;
}





.Colors--current {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80px;
  height: 80px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .3);
  opacity: 1;
  transition: opacity 200ms ease-in;
  pointer-events: auto;
  cursor: pointer;
}

.Colors--current:hover {
  /*transform: scale(1.05);*/
  /*opacity: .95;*/
}

.Colors--current:active {
  /*transform: scale(1);*/
}





/* for ipad and larger */

@media only screen and (min-width: 768px) {
  .Colors {
    left: 1vmin;
  }
}


/* for phone */

@media only screen and (max-width: 480px) {

}
