.Map {

}



.Map__blackout {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  opacity: 0;
  transition: opacity 100ms ease-in-out;
  z-index: 300;
  cursor: alias;
  pointer-events: none;
}

.Map__blackout--visible {
  opacity: 1;
  pointer-events: auto;
}



.Map__button {
  position: relative;
  border-radius: 0;
  transition: border-radius 150ms ease;
  z-index: 500;
}

.Map__button--inactive {
  border-radius: 5%;
}

.Map__button--mouse.Map__button--inactive {
  transform-origin: 100% 100%;
  transition: transform 150ms ease, opacity 150ms ease, border-radius 150ms ease;
}

.Map__button--mouse.Map__button--inactive:hover {
  opacity: .9;
  transform: translate(-1%, -1%)scale(1.02);
}

.Map__button--mouse.Map__button--inactive:active {
  opacity: .95;
  transform: translate(0%, 0%)scale(1);
}



.Map__panner {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 400%;
  height: 400%;
  border-radius: 0;
  transform-origin: 100% 100%;
  transform: translate(0, 0)scale(1);
  transition: transform 150ms ease, border-radius 150ms ease;
  overflow: hidden;
}

.Map__panner--inactive {
  border-radius: 5%;
  transform: translate(0, 0)scale(.25);
}

.Map__panner--inactive>* {
  pointer-events: none;
}



.Map__canvas,
.Map__overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}



.Map__overlay {
  background-color: rgba(0, 0, 0, 1);
  opacity: .2;
  mix-blend-mode: multiply;
  overflow: hidden;
}

.Map__overlay:active {
  cursor: grabbing;
}



.Map__viewbox {
  position: absolute;
  box-sizing: content-box;
  background-color: rgba(255, 255, 255, 1);
  cursor: grab;
}

.Map__overlay:active>.Map__viewbox {
  cursor: grabbing;
}
