.Cursors {
  margin-left: 15px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}





.Cursors--button.cursor-paint {
  background-image: url('../../_img/draw.png');
}

.Cursors--button.cursor-drag {
  background-image: url('../../_img/grab.png');
}

.Cursors--button.zoom-0 {
  background-image: url('../../_img/zoom-out.png');
}

.Cursors--button.zoom-1 {
  background-image: url('../../_img/zoom-in.png');
}
